<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OTP for blog system login</title>
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8djRNGVH1wxLDndk5WsoSjl6ioW3Fj83DokQvFi0OZw&s" alt="Blog System Logo" width="150" height="100">
    <h1>Registration OTP</h1>
    <p>Dear ${username},</p>
    <p>Welcome to our platform! To complete your registration process, please use the following OTP:</p>
    <p style="font-size: 24px; font-weight: bold; color: #4CAF50;">${otp}</p>
    <p>This OTP is valid for a single use only and will expire in ${duration} minutes.</p>
    <p>If you did not initiate this registration process, please ignore this email.</p>
    <p>Thank you for choosing our platform!</p>
    <p>Best regards,<br> Hoang-Khoa Corporation</p>
</body>
</html>
